.cardDiv {
  /* border: 2px solid red; */
  width: 100%;
  margin: 0px;
}

.productDetails {
  /* border: 2px solid red; */
  margin: 0px;
}

.itemDetails {
  display: inline-flex;
  margin: 80px
}

.productimg {
  width: 200px;
  height: 200px;
}

.itemTitle {
  font-weight: 700;
  font-size: 16px;
  font-family: var(--bmd-font-Secondary);
  transition: color .2s;
}

.productPrice {
  font-weight: 700;
  font-size: 18px;
  margin: .5rem 0;
}

.inptutRmove {
  display: flex;
  align-items: baseline;
}

.inputDiv {
  width: 30%;
  padding: 2px 9px 7px;
}

.shopBtn {
  cursor: pointer;
  text-transform: uppercase;
}

.removeBtn {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  padding: 5px 10px;
}
.removeBtn:hover{
  background-color: #56008c;

}

.checkoutBtn {
  padding: 1rem 2rem;
  font-size: 12px;
  line-height: 1em;
  font-family: var(--bmd-font-Secondary);
  text-transform: uppercase;
  transition: background .25s, color .25s, border .25s;
  font-weight: 700;
  width: 40%;
  border: none;
  text-align: center;
  background-color: black;
  color: #fff;
}

.checkoutBtn:hover {
  background-color: #56008c;
}

.PriceContainer {
  width: 40%;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;
  margin-bottom: 1rem;
}

.PriceContainer p {
  font-weight: 500;
}





@media only screen and (max-width: 2800px)and (min-width:1500px) {}

@media only screen and (max-width:1300px) and (min-width:1024px) {
  .itemDetails {
    display: inline-flex;
    margin: 0px 0px 20px;
  }
}

@media only screen and (max-width:966px) and (min-width:768px) {

}

@media only screen and (max-width:766px) and (min-width:425px) {
  .itemDetails {
    display: inline-flex;
    margin: 0px 0px 20px;
  }

  .productimg {
    width: 150px;
    height: 150px;
  }
  .itemTitle{
    font-size: 13px;
  }
  .productPrice{
    font-size: 13px;
  }

  .inputDiv {
    width: 60%;
    padding: 2px 12px 3px;
  }
  .inptutRmove {
    margin-top: -15px;
    display: flex;
    align-items: baseline;
  }
}

@media only screen and (max-width:423px) and (min-width:375px) {
  .itemDetails {
    display: inline-flex;
    margin: 0px 0px 20px;
  }

  .productimg {
    width: 150px;
    height: 150px;
  }
  .itemTitle{
    font-size: 13px;
  }
  .productPrice{
    font-size: 13px;
  }

  .inputDiv {
    width: 60%;
    padding: 2px 12px 3px;
  }
  .inptutRmove {
    margin-top: -15px;
    display: flex;
    align-items: baseline;
  }
}

@media only screen and (max-width:373px) and (min-width:320px) {

  .itemDetails {
    display: inline-flex;
    margin: 0px 0px 20px;
  }

  .productimg {
    width: 150px;
    height: 150px;
  }
  .itemTitle{
    font-size: 13px;
  }
  .productPrice{
    font-size: 13px;
  }

  .inputDiv {
    width: 60%;
    padding: 2px 12px 3px;
  }
  .inptutRmove {
    margin-top: -15px;
    display: flex;
    align-items: baseline;
  }
}