
.animatedButton {
  margin: 20%;
  /* Define button styles */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  transition: border-color 0.3s ease;
}

.animatedButton:hover {
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  animation: rotateBorder 2s linear infinite;
  background: linear-gradient(var(--gradient-angle), rgb(0, 0, 0), rgba(248, 247, 247, 0.096));
  
}

/* Define animation */
@keyframes rotateBorder {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


