.main{
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.head{
    color: rgb(0, 1, 1);
}
.thborder{
    color: rgb(0, 1, 1);
   
}
.searchBar{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 21%;
}
.sTitle{
    padding: 2px;
    margin-left: 10px;
    outline: none;
}
.selecteid{
    padding: 3px;
    margin-left: 10px;
    outline: none; 
}
.noData{
    color: red;
    text-align: center;
}
.exportBtn{
 margin-left: 50%;
}
.titleBar{
    text-decoration: none;
    color: black;
}
